#main {

  .slick-slider {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 40%;
      z-index: 1;
      font-size: 0px;
      background: $headings-color;
      padding: 30px 15px;
      opacity: 0.7;

      &:focus {
        outline: 0;
        border: 0;
        box-shadow: none;
      }

      &:hover {
        transition: opacity 0.6s;
        opacity: 1;
        cursor: pointer;
      }

      &.slick-prev {
        left: -15px;
        right: auto;

        &:before {
          content: "\f104";
          font-family: FontAwesome;
          position: absolute;
          font-size: 20px;
          top: 8px;
          left: 0;
          right: auto;
          color: $white;
          width: 100%;
          padding-top: 45%;
        }
      }

      &.slick-next {
        right: -15px;
        left: auto;

        &:after {
          content: "\f105";
          font-family: FontAwesome;
          position: absolute;
          font-size: 20px;
          top: 8px;
          left: 0;
          right: auto;
          color: $white;
          width: 100%;
          padding-top: 45%;
        }
      }
    }
  }

  .zippy-grid-slider-title, .zippy-grid-title {

    h2 {
      border-bottom: 1px solid $text-color;
      padding-bottom: 15px;
      margin: 15px 0px;
      font-size: 18px;
    }
  }

  .block-title {
    border-bottom: 1px solid $text-color;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 26px;
  }

  .zippy-grid-image {
    height: 140px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .zippy-grid-slider-image {
    height: 140px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .block {
    margin-bottom: 30px;
    float: left;
    width: 100%;

    .field-item {
        word-break: break-word;

      img {
        width: 50vh;
        margin: 15px auto;
      }
    }

    ul, ol {

      li {

        a {
          color: $text-color;

          &:hover {
            color: $headings-color;
          }
        }
      }
    }
  }
}
